# This is an example env file for configuring the deployment of the
# Dockerized full-stack web application to AWS EC2 using Docker Hub.
# Copy this file to .env and fill in the required values.

# DO NOT commit your actual .env file with sensitive information to version control.
# The .env file should be listed in your .gitignore file.


# Docker Hub
DOCKER_PAT=ghp_asdffiwfl24hw523426ekadhsfh
DOCKER_USERNAME=janedoe

# AWS EC2
EC2_KEY_NAME=cs123-janedoe-sshkey.pem
EC2_DEPLOY_HOST=ec2-xx-xxx-xx-xx.us-west-2.compute.amazonaws.com
EC2_DEPLOY_DIR=/home/ubuntu/full-stack-web-app

# Application Settings
APP_VERSION=latest
APP_NAME=full-stack-web-app
